      {{#each this}}
    <div class="container_modal">
  <div class="lightbox__content">

    <img class="film-image" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{original_title}}">
  </div>

   
  <div class="options-film-inform">

  <h2 class="title_modal uppercase"> {{original_title}}</h2>
  
  <div class="modal_options">
        
 <ul class="modal-options-list">
     <li class="modal-options-list-film">Vote / Votes  </li>
     <li class="modal-options-list-film" >Popularity </li>
     <li class="modal-options-list-film " >Original Title  </li>
     <li  class="modal-options-list-film" >Genre</li>
 </ul>

 <ul class="modal-options-inform">
     <li class="modal-options-list-film "> <span class="highlight">{{vote_average}}</span>  / <span class="selection">{{vote_count}}</span>  </li>
     <li class="modal-options-inform-films">{{popularity}}</li>
     <li class="modal-options-inform-films uppercase">{{original_title}}</li>
     <li class="modal-options-inform-films" >{{genre_ids}} </li>
 </ul>


</div>

 <h4 class="title_about">ABOUT</h4>

 <p class="modal_article"> {{overview}}</p>

 
<div class="btn_modal">

  <button type="button" class="btn_modal_add">ADD TO WATCHED</button>
  <button type="button" class="btn_modal_add" >ADD TO QUEUE</button>

</div>
</div>

 {{/each}}