 {{!-- <div class="modal-card">  --}}
   <div class="container_modal">
      <div class="cardItem__image">
            {{#if poster_path}}
  <img class="image" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}" />
{{else}}
<img  class="image" src="../images/1fe4275159989b1b96c166aec797b5cb.jpg" alt="content photo">
{{/if}}
      </div>

      <div class="cardItem__wrapper">
        <h2 class="cardItem__name">{{title}}</h2>

<div class="modal_options">


{{!-- <div
 class="modal-options-list">
<p class="cardItem-Title cardItem_text" >Original Title</p>
<p class="cardItem__title_data cardItem_text">{{original_title}}</p>
</div>
<div>
<p class="cadrItem__vote cardItem_text">Vote / Votes</p>
 <p class="cardItem_text "> <span class="cardItem__vote_average">{{vote_average}}</span>  / <span class="cardItem__vote_count">{{vote_count}}</span>  </p>

</div> --}}


        <div class="modal-options-list">
         <p class="cadrItem__vote cardItem_text">Vote / Votes</p>
         <p class="cardItem__popularity cardItem_text" >Popularity</p>
         <p class="cardItem-Title cardItem_text" >Original Title</p>
         {{!-- <p  class="cardItem__genre cardItem_text" >Genre</p> --}}
     </div>
    
     <div class="modal-options-inform">
         <p class="cardItem_text "> <span class="cardItem__vote_average">{{vote_average}}</span>  / <span class="cardItem__vote_count">{{vote_count}}</span>  </p>
         <p class="cardItem___data cardItem_text" >{{popularity}}</p>
         <p class="cardItem__title_data cardItem_text">{{original_title}}</p>
        {{!-- <p class="cardItem__genreList cardItem_text" >{{genre_ids}} </p> --}}


 
     </div>



</div>

<div class="genre">
  <p  class="cardItem__genre cardItem_text" >Genre</p>
 <p class="cardItem__genreList cardItem_text" >{{genre_ids}} </p>
</div>
{{!--          
         <p class="cadrItem__vote cardItem_text">
          Vote / Votes
          <span class="cardItem__vote_average">{{vote_average}}</span> / <span
            class="cardItem__vote_count"
          >{{vote_count}}</span
          >
        </p>
        <p class="cardItem__popularity cardItem_text">
          Popularity<span class="cardItem___data">{{popularity}}</span>
         <p class="cardItem-Title cardItem_text">
          Original Title<span class="cardItem__title_data"
            >{{original_title}}</span
          >
        </p>

        <p class="cardItem__genre cardItem_text">
          Genre<span class="cardItem__genreList">{{genre_ids}}</span>
        </p> --}}

        <p class="cardItem__about">About</p>
        <p class="cardItem__description">{{overview}}
        </p>
        <div class="history-btn-wrapper">
          <button class="btn-watched" data-action="{{id}}">ADD TO WATCHED</button>
          <button class="btn-favorite" data-action="{{id}}">ADD TO QUEUE</button>
        </div>
        </div>
        
       <button
        type="button"
        class="lightbox__button"
        data-action="close-lightbox"
      ></button>
       
       
              </div>
                 
      <!-- <div class="modal-close-btn">Close</div> -->
     {{!-- </div> --}}